global:
  dockerRegistry: public.ecr.aws

image:
  repository: "m4z9c2w0/opensearch-treadstone"
  tag: "4816141528"
  pullPolicy: "IfNotPresent"

majorVersion: "2"

opensearchJavaOpts: "-Xmx16G -Xms16G"

replicas: 2

resources:
  requests:
    cpu: "4"
    memory: "32Gi"

ingress:
  enabled: true
  ingressClassName: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/backend-protocol: HTTPS
    alb.ingress.kubernetes.io/security-groups: sg-0a82a4cba71dca0db
    alb.ingress.kubernetes.io/manage-backend-security-group-rules: 'true'
  labels: {}
  path: /
  hosts: [""]
